main {
    background-image: url('../assets/images/background.svg');
    min-height      : var(--main-mobile-height);
}

footer {
    background-color: var(--bg-footer);
}

ul,
a {
    text-decoration: none;
}

form {
    width: 100%;
}

form input {
    padding      : 0.3125rem 0.625rem;
    border       : 1px solid var(--border-light);
    border-radius: 0.25rem;
    height       : 2.5rem;
    width        : 100%;
}

form input::placeholder {
    color         : var(--font-primary);
    line-height   : 1.875rem;
    letter-spacing: 0.01rem;
}

.rounded-input {
    border-radius: 1.6875rem;
    border       : 1px solid var(--border-light);
    background   : var(--bg-light-grey);
    padding      : 0.3125rem 0.9375rem 0.3125rem 2.7rem;
}

.rounded-input::placeholder {
    color: var(--text-disabled)
}

.app-default-width {
    margin: 0 .94rem;
}

.bg-header {
    background: var(--bg-header);
}

.bg-light-grey {
    background-color: var(--bg-light-grey);
}

.color-secondary {
    color: var(--font-secondary);
}

.link-secondary:hover {
    text-decoration          : underline;
    text-decoration-color    : var(--green-secondary);
    text-decoration-thickness: 1.5px;
    text-underline-offset    : .6rem;
    cursor                   : pointer;
}

.cocktail-thumbnail {
    width        : 19.0625rem;
    height       : 19.0625rem;
    border-radius: 0.55256rem;
}

.label {
    color        : var(--font-secondary);
    font-size    : .88406rem;
    font-weight  : 600;
    padding      : .28rem .55rem;
    border       : .884px solid var(--border-light);
    border-radius: .27625rem;
    font-family  : 'Source Sans 3';
}

.clock {
    position: relative;
}

.clock:before {
    position: absolute;
    content : url('../assets/icons/clock.svg');
    left    : -18px;
    bottom  : -2.5px;
}

.back-btn {
    color      : var(--dark-green);
    display    : flex;
    align-items: center;
}

@media (min-width: 768px) {
    main {
        min-height: var(--main-height);
    }

    .app-default-width {
        max-width: 78.5625rem;
        margin   : 0 auto;
    }

    .cocktail-show-wrapper {
        max-width: 78.5625rem;
        margin   : 0 auto;
    }

    .cocktail-thumbnail {
        width        : 16.78963rem;
        height       : 16.78963rem;
        border-radius: 0.67156rem;
    }

    .container-min-height {
        min-height: 35rem;
    }

    .container-cocktail {
        width: 16.78963rem;
    }
}