@font-face {
  font-family: 'Avenir-Roman';
  src        : url('Avenir-Roman.eot');
  src        : url('Avenir-Roman.woff2') format('woff2'),
    url('Avenir-Roman.woff') format('woff'),
    url('Avenir-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style : normal;
}

:root {
  --bg-header    : linear-gradient(180deg, #094B4B 0%, #095A5A 100%);
  --bg-footer    : #212121;
  --bg-light-grey: #F9F9FB;
  /* subtract header and footer's height */
  --main-height  : calc(100vh - 5rem - 11rem)
}

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

body {
  font-size  : 16px;
  font-family: 'Avenir-Roman', sans-serif;
}

header {
  background: var(--bg-header);
}

main {
  background-image: url('./assets/images/background.svg');
  min-height      : var(--main-height);
}

footer {
  background-color: var(--bg-footer);
}

ul,
a {
  text-decoration: none;
}

.app-default-width {
  margin: 0 .94rem;
}

@media (min-width: 768px) {
  .app-default-width {
    max-width: 78.5625rem;
    margin   : 0 auto;
  }
}

.bg-light-grey {
  background-color: var(--bg-light-grey);
}

@tailwind base;
@tailwind components;
@tailwind utilities;